<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>source</contextName>

	<property name="USER_HOME" value="${catalina.base}" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${USER_HOME}/logs/source_log.txt</file>
		<encoding>UTF-8</encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${USER_HOME}/logs/%d{yyyy-MM-dd}/ydwms%i.zip
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{HH:mm:ss.SSS} %-5level %logger{40} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="java.sql.Connection" />
	<logger name="java.sql.Statement" />
	<logger name="java.sql.PreparedStatement" />

	<root>
		<!-- <level value="error" /> -->
		<level value="debug"/>
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>
</configuration>