<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-3.2.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util-4.0.xsd" default-lazy-init="true">

	<security:global-method-security pre-post-annotations="enabled"/>

	<!-- spring securit 3.X新的资源放行配置方式，不受保护的资源 -->
	<security:http pattern="/login.html" security="none" />   
     
	<security:http auto-config="true" use-expressions="true" access-denied-page="/accessdenied.html">
		
		<!-- 允许访问的uri --> 
		<security:intercept-url pattern="/" access="ROLE_USER" />
		<security:intercept-url pattern="/login.html" access="ROLE_USER" />
		<security:intercept-url pattern="/logout.html" access="ROLE_USER" />
		<security:intercept-url pattern="/accessdenied.html" access="ROLE_USER" />
		
		<!--指定登录页面  -->
		<security:form-login login-page="/login.html" 
			authentication-failure-url="/accessdenied.html" 
			default-target-url="/home.html"
			username-parameter="account"
			password-parameter="password"
			login-processing-url="logining"
			/>
			
		<!-- 指定退出 -->
		<security:logout invalidate-session="true" 
			logout-success-url="/login.html"
			logout-url="/login.html"/>
		
		<!-- 自定义没有权限的页面,Spring Security默认的403页面 -->
		<security:access-denied-handler ref="accessDeniedHandler"/>
		
		<!-- 实现免登陆验证 -->
		<security:remember-me />

		<!-- 会话配置管理 ,防止伪造sessionid攻击. 用户登录成功后会销毁用户当前的session-->
		<security:session-management invalid-session-url="/login.html" session-fixation-protection="none">
			<!--只允许一个人登陆,并且第二个人登陆不了  -->
			<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
		</security:session-management>
		
	</security:http>

	<bean id="accessDeniedHandler" class="org.mo.open.common.security.MyAccessDeniedHandler">
		<property name="accessDeniedUrl" value="/accessdenied.html"></property>
	</bean>
	
</beans>